table.one
{
table-layout: automatic;
}
table.two
{
table-layout: fixed;
}
table.coll
{
border-collapse: collapse;
}
table.sep
{
border-collapse: separate;
}
table.sp1
{
border-collapse: separate;
border-spacing: 20px
}
table.sp2
{
border-collapse: separate;
border-spacing: 40px 60px;
}
caption{
caption-side:left
}